/* @font-face {
    font-family: "Satoshi";
    src: url("/src/assets/Satoshi-Medium.otf") format("opentype");
}
 */
* {
    font-family: "IBM Plex Sans";
}

.parent {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.child {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

span {
    color: blue;
}